header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    grid-template-areas: "navigation logo address";
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 96px;
    padding-top: 95px;
}

.header__logo {
    grid-area: logo;
    display: block;
    width: 138px;
    height: 105px;
}

.header__menu {
    grid-area: navigation;
    display: flex;
    flex-wrap: nowrap;
    font-size: 18px;
    font-weight: 400;
    line-height: 24.3px;
}

address {
    all: unset;
    grid-area: address;
    max-width: 240px;
    justify-self: end;
    font-size: 18px;
    font-weight: 400;
    line-height: 24.3px;
}

.all__address {
    height: 98px;
    width: 240px;
    align-content: center;
}

.header__links-list {
    list-style-type: circle;
    display: flex;
    gap: 34px;
}

.header__links-list-item_no-bullit {
    list-style-type: none;
}

.link__nowhere {
    text-decoration: none;
    border-bottom: 1px solid black;
}

.cover {
    position: relative;
    z-index: 0;
    background-image: url(../images/cover.jpg);
    background-size: cover;
    background-position: center;
    height: 757px;
    display: flex;
    
}

.overlay {
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
    width: 100%;
    height: 100%;
    position: absolute;
}

h1 {
    font-weight: 700;
    font-size: 100px;
    text-transform: uppercase;
    color: white;
    letter-spacing: 0.3em;
    line-height: 115px;
}

.title {
    padding: 165px 50px 106px 50px;
}

.first__word {
    display: flex;
    justify-self: start;
    align-self: start;

}
.second__word {
    display: flex;
    justify-content: center;
    margin: 20px -30px 20px 0px;
}

.third__word {
    display: flex;
    justify-self: end;
    align-self: end;
    width: 387px;
    margin-top: 20px;
}

.subline {
    display: flex;
    align-self: center;
    font-weight: 400;
    font-size: 22px;
    text-transform: uppercase;
    color: white;
    word-spacing: 18.7px;
}

button {
    background: none;
    border: none;
    cursor: pointer;
    background: transparent;
    border: 1px solid white;
    padding: 12px 32px 11px 31px;
}

.name__button {
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 22px;
}

.description {
    display: flex;
    justify-content: space-between;
    padding: 0px 50px 0px 50px;
}

.lots {
    padding: 180px 24px 0px 24px;
}

.card {
    width: 334px;
    min-height: 596px;
    display: flex;
    position: relative;
}

.card-link {
    height: 100%;
    text-decoration: none;
}

.name__lots {
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
    color: black;
    padding-bottom: 27px;
    padding-left: 40px;
}

.card__name {
    font-weight: 700;
    height: 100%;
    font-size: 22px;
    text-decoration: underline;
    color: white;
    text-transform: uppercase;
    line-height: 120%;
}

article {
    list-style: none;
    font-weight: 400;
    font-size: 20px;
    color: white;
    line-height: 120%;
    height: 100%;
    position: relative;
    padding: 48px 40px 48px 40px;
    display: flex;
    flex-direction: column;
}

.cards {
    display: flex;
    list-style: none;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card__film {
    background-image: url(../images/card-lot-01.jpg);
    background-size: cover;
    background-position: center;
}

.card__book {
    background-image: url(../images/card-lot-02.jpg);
    background-size: cover;
    background-position: center;
}

.card__image {
    background-image: url(../images/card-lot-03.jpg);
    background-size: cover;
    background-position: center;
}

.more {
    font-weight: 400;
    font-size: 20px;
    font: Raleway;
    border-bottom: 1px solid black;
}

.look__more {
    padding: 30px 102px 0px 40px;
}

.about {
    padding: 120px 24px 180px 24px;
    display: flex;
    gap: 72px;
}

.about__logo__white {
    width: 148px;
    height: 114px;
    margin-top: 30px;
}

.about__logo {
    background-color: black;
    min-width: 240px;
    height: 240px;
    border-radius: 50%;
    display: flex;
    padding: 35px 0px 0px 47px;
    margin: 35px 0px 0px 47px;
}

.about__block {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

.about__name {
    font-weight: 700;
    font-size: 40px;
    line-height: 100%;
    text-transform: uppercase;
    padding-top: 140px;
    padding-bottom: 100px;
}

.about__block-1 {
    padding-bottom: 24px;
}

footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "footer-address footer-navigation social";
    align-items: center;
    padding: 0px 50px 82px 50px;
}

.footer__address{
    grid-area: footer-address;
    font-size: 18px;
    font-weight: 400;
    line-height: 24.3px;
    padding-top: 5px;
}

.footer__navigation {
    grid-area: footer-navigation;
    display: flex;
    justify-content: center;
}

.socials{
    grid-area: social;
    width: 48px;
    display: flex;
    gap: 48px;
    justify-self: center;
    align-self: start;
    margin-right: 100px;
    margin-top: 5px;
}

.footer__links-list-item_no-bullit {
    list-style-type: none;
}

.footer__links-list {
    padding-bottom: 20px;
    font-weight: 400;
    font-size: 18px;
    text-decoration: none;
}

.footer__main {
    display: flex;
    justify-content: center;
}

.footer__lots {
    display: flex;
    justify-content: center;
}

.footer__about {
    display: flex;
    justify-content: center;
    margin-left: 22px;
    margin-right: 22px;
}
